$color-basic: #58B79D;
$color-secondary: #364B44;
$color-tertiary: #6DACE4;
$color-warn: #FFA17A;
$color-text: #213026;

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        h1, h2, h3 {
            color: $color-basic;
        }
        p, span, a {
            color: $color-text;
        }
        a{
            &:hover,
            &:visited,
            &:link,
            &:active {
                text-decoration: none;
            }
        }
        
    }
  }

  header {
      .carousel-inner {
          img {
              height: 100vh;
              object-fit: cover;
          }
      }
      nav {
          height: 60px;
          position: fixed;
          top: 0;
          left: 0;
          background-color: transparent;
          color: white;
          box-sizing: content-box;
          transition: all .25s;
          z-index: 2;
          font-size: 16px;
          font-weight:500;
          .nav-logo {
              background-image: url('../../images/logo.png');
              height: 60px;
              background-repeat: no-repeat;
              background-size: contain;
          }
          a {
              font-size: 16px;
              &:hover {
                  color: $color-basic;
              }
          }
          .call-ico {
            height: 30px;
            margin-right:10px;
          }
      }
      .centerTxt {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,.5);
        padding: 20px 0;
        h1,h2 {
            color: white;
        }
        @media(min-width: 576px) {
            padding: 30px 0;
            h1 {
                font-size: 3em;
            }
            h2 {
                font-size: 2.5em;
            }
        }
        @media(min-width: 1140px) {
            padding: 50px 0;
            h1 {
                font-size: 4em;
            }
            h2 {
                font-size: 3em;
            }
        }

      }
  }
  .toWhite {
      background-color: white;
  }
  main {
      
  }