$color-secondary: #f5da42;
$color-basic: #6DACE4;
$color-warn: #FFA17A;
$color-text: #213026;

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
        height: 100%;
        padding: 0px;
        overflow-x: hidden;
        h1, h2, h3 {
            color: $color-basic;
        }
        p, span, a {
            color: $color-text;
        }
        a{
            &:hover,
            &:visited,
            &:link,
            &:active {
                text-decoration: none;
            }
        }
        
    }
  }

header {
    .carousel-inner {
        img {
            height: 100vh;
            object-fit: cover;
        }
    }
    nav {
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,.5);
        box-sizing: content-box;
        transition: all .25s;
        z-index: 3;
        font-size: 24px;
        font-weight:700;
        cursor: pointer;
        .topNav-logo {
            height: 80px;
            width: 80px;
            &--img {
                height: 65px;
            }
            &--txt {
                &_color {
                    color: $color-secondary;
                }
            }
        }
        .topNav-menu {
            &--list {
                list-style: none;
            li {
                margin: 0 7px;
            }
            }
            &--mob {
                font-size: 36px;
                color:rgb(107, 107, 107);
                &_box {
                width: 50vw;
                min-width: 160px;
                height: 100vh;
                background-color: $color-text;
                right: -50vw;
                top: 0;
                will-change: right;
                transition: right .2s;
                font-size: 24px;
                font-weight: 300;
                li {
                    padding: 8px 0;
                    color: white;
                    &:not(:first-of-type) {
                        border-bottom: 1px solid rgb(107, 107, 107);
                    }
                    &:first-of-type {
                        a {
                            text-align: right;
                        }
                    }
                    a {
                        color: white;
                        display: block;
                        width: 100%;
                        
                    }
                }
            }
                &_open {
                    right: 0;
                }
                &_ico {
                    color: $color-text;
                }
            }
            
        }
        a, li {
            &:hover {
                color: $color-secondary;
            }
        }
        .call-ico {
        height: 50px;
        margin-right:20px;
        }
        
    }
    @media (max-width: 768px) {
    .topNav {
        &-phone {
            a {
                font-size: 18px;
                .call-ico {
                    height: 30px;
                    margin-right: 5px;
                }
            }
        }
        &-logo {
            &--img {
                height: 40px !important;
            }
            span {
                font-size: 18px;
            }
        }
        &-menu--mob {
            &_ico {
                font-size:24px;
            }
        }
    }
    }
    .centerTxt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.5);
    padding: 20px 0;
    h1,h2 {
        color: white;
    }
    @media(min-width: 576px) {
        padding: 30px 0;
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2.5em;
        }
    }
    @media(min-width: 1140px) {
        padding: 50px 0;
        h1 {
            font-size: 4em;
        }
        h2 {
            font-size: 3em;
        }
    }

    }
}
.toWhite {
    background-color: white;
}
main {
    background-color: $color-basic;
    color:black;
    .aboutUs {
        font-size: 20px;
        &-txt {
            text-align: justify;
        }
        &-imgs {
            @media (max-width:992px) {
                height: 480px;
            }
            @media (max-width:768px) {
                height: 300px;
            }
            &--inner {
                width: 45%;
                height: auto;
                object-fit:cover;
                border: 5px solid white;
                box-shadow: 0 0 15px 3px #000;
            }
            &--one {
                left: 15px;
                top: 0;
                transform: rotate(-20deg);
                z-index:2;
            }
            &--two {
                right: 15px;
                top: 0;
                transform: rotate(20deg);
            }
            &--three {
                left: 30%;
                top: 50px;
            }
        }
    }

    @keyframes move {
        from {background-position: 50% 50%;}
        to {background-position: 40% 40%;}
    }

    .blur-cover {
        height: 10px;
        background-color: #f2f2f2; 
        margin-bottom: -10px;
        &-bottom {
        height: 10px;
        background-color: #f2f2f2; 
        margin-top: -10px;
        }
    }

    .offer {
        position: relative;
        overflow: hidden;
        width: calc(100% + 30px);
        margin-left: -15px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                @media (min-width: 1900px) {
                    width: 115%;
                    height: 115%;
                    background-size: cover; 
                }
                background-image:url("../images/raindrops.png");
                background-position: 50% 50%;
                background-color: #f2f2f2;
                animation: move 5s ease-in-out infinite alternate;
            }
        
        &-title {
        color: black;
        font-size: 3em;
        text-transform: uppercase;
        filter: blur(0);
        font-weight: bold;
        background-color: rgba(255,255,255,.85);
        }
        .accordion {
            .card {
                border: 0;
                background-color: rgba(255,255,255,.85);
                }
            }
        }
        .card-header {
            text-align: center;
            background-color: transparent;
            .btn-link {
                color: black;
                text-decoration: none;
                font-size: 1.1em;
                text-transform: uppercase;
                font-weight: 500;
                &.collapsed {
                    &:after {
                        display: block;
                        content: "\25BC";
                    }
                }
            }
        }
        .card-body {
            background-color: transparent;
            color: black;
            font-size: 22px;
            font-weight: 500;
        }
        hr {
            border-bottom: 2px solid $color-text;
            width: 80%;
        }
        @media(max-width: 768px) {
            .card-header {
                .btn-link {
                    font-size: 24px;
                }
            }
            &-title {
                font-size: 2em;
            }
        }
        .contact {
        iframe {
            width: 96vw;
            height: 400px;
            @media(min-width: 768px) {
                width: 100%;
                min-width: 350px;
            }
            @media(min-width: 992px) {
                width: 100%;
                min-width: 550px;
            }
        }
        h2 {
            color: $color-text;
        }
        
        &-form {
            width: 100%;
            div {
                height: 400px;
                font-size: 24px;
            }
            &--btn {
                border: 3px solid $color-warn;
                border-radius: 5px;
                background-color: $color-warn;
                color: black;
                width: 75%;
                max-width: 280px;
                padding: 10px;
                margin: 0 auto;
                transition: background-color .2s;
                &:hover {
                    background-color: transparent;
                }
            }
            .maildata {
                font-weight: bold;
                font-size: 30px;
            }
        }
    }
    }
footer {
    background-color: #101010;
    font-size: 18px;
    color: $color-secondary;
}